/* Add CSS Styling */
p {
    background-color: rgb(234, 205, 210);
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.two {
    color: blue;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

.four {
    background-color: rgb(128, 255, 128);
    font-size: 24px;
    font-weight: bold;
}