.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: auto;
  display:flex
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
}
.left-links {
  display: flex;
  flex-direction: column;
  margin: 8px;
  margin-left: 0;
}

.right-links {
  display: flex;
  margin-right: auto;
  flex-direction: column;
  margin: 8px;
}